<div class="w-login">
  <section class="left">
    <div class="container">
      <header class="header">
        <img src="../../assets/img/logo/stisla-fill.svg" alt="">
      </header>
      <main class="main">
        <router-outlet></router-outlet>
      </main>
      <footer class="footer">
        <span>Ant Design ©2020 Implement By Angular</span>
      </footer>
    </div>
  </section>
  <section class="right">
    <div class="wrapper-card">
      <div class="text">
        <span>Have a good time !</span>
        <span>Bali, Indonesia</span>
      </div>
    </div>
  </section>

</div>
